# Security
.env
db.sqlite3

# Python Bytecode
__pycache__/
*.pyc

# Media (Keep the folder, ignore the content)
media/
/static/

# IDE
*.code-workspace
.DS_Store

#Other
SQL SeedFiles/

#Testing
pytest.ini
store/tests/